#records {
    max-height: 250px;
    overflow: scroll;
}

.activity-sketching {
    font-style: bold;
    font-size: 20px;
    color: darkslategrey;
}

.activity-drawing {
    font-weight: bold;
    font-size: 20px;
    color: darkgrey;
}

.activity-painting  {
    font-weight: bold;
    font-size: 20px;
    color: orangered;
}